
---

ansible_user            : root
ansible_ssh_private_key : /Users/akatruk/.ssh/id_rsa.pub

cname1: mediateka-db-01
ip_address1: 10.0.0.2
cname2: mediateka-db-02
ip_address2: 10.0.0.3
cname3: mediateka-db-03
ip_address3: 10.0.0.4
virtual_ip: 10.0.0.202
network_pg: '10.0.0.0/24'
cluster_name: mediateca_cl

hosts: 10.0.0.2:2379, 10.0.0.3:2379, 10.0.0.4:2379
patroni_scope: patroniscope

# ===@@@!!!access to database as postgres user !!!@@@===
password_postgres: 4wKwFfNEfeb4p67k

# Posgres parameters
patroni_pg_max_connections: 30
shared_buffers: 4GB
work_mem: 104857kB
effective_cash_size: 12GB

# ====== vars VM deploy ======

source_catalog_name: MP
network: dev-2
storage_profile: Silver
source_template_name: CentOS_MP_v3
target_vdc: DATAHUB_DEV_FNFRO003
virtual_cpus: 2
memory: 2048
Additional_Disk_Size: 10240
vm_name:
       # - ansible-awx-02
       - d.datahub.db01
       - ansible-awx-01