127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6



10.1.200.28 mongodb05
10.1.200.27 mongodb04
10.1.200.18 mongodb03
10.1.200.26 mongodb01
10.1.200.22 mongodb02
